<div class="loginWrap">
  <div class="loginCard">
    <div class="loginCard__head">
      <div class="loginCard__title">Acesso negado</div>
      <div class="loginCard__desc">Você não tem permissão para acessar esta página.</div>
    </div>
    <a class="btn btn--primary" href="/admin" style="width:100%">Voltar ao dashboard</a>
  </div>
</div>
