<div class="loginWrap">
  <div class="loginCard">
    <div class="loginCard__head">
      <div class="loginCard__title">Acesso Administrativo</div>
      <div class="loginCard__desc">Entre com suas credenciais para acessar o painel.</div>
    </div>

    {{#if error}}
      <div class="alert alert--error">{{error}}</div>
      <div style="height: 10px"></div>
    {{/if}}

    <form class="form" method="post" action="/admin/login">
      <div class="field">
        <div class="label">E-mail</div>
        <input class="input" type="email" name="email" autocomplete="username" required value="{{email}}" />
      </div>

      <div class="field">
        <div class="label">Senha</div>
        <input class="input" type="password" name="password" autocomplete="current-password" required />
      </div>

      <button class="btn btn--primary" type="submit" style="width:100%">Entrar</button>
      <a class="btn" href="/" style="width:100%">Voltar ao site</a>
    </form>
  </div>
</div>
